@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|PT+Serif:400,400i|IM+Fell+English+SC|Fjalla+One|Lato:100,300,400,700,900|Lora|Merriweather|Montserrat|Open+Sans|Oswald|Playfair+Display|Raleway|Source+Sans+Pro|Caveat+Brush|Oswald|Nanum+Pen+Script|Rancho|Roboto|Roboto+Mono|Roboto+Condensed|Covered+By+Your+Grace|Reenie+Beanie|Abril+Fatface|Allura|Pacifico|Sacramento|Montserrat|Raleway|Monoton");
@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
/*

MEDIA QUERY MANAGER

0 - 600px           Phone
600px - 900px       Tablet portait
900px - 1200px      Tablet landscape
[1200px - 1800px]   Normal styles apply
1800px +            Large desktop

/*

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop


ORDER to make it responsive: Base + typograpg=hy > general layout + grid > page layout > components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.row {
  display: flex; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* 
REM is always measured from the root
REM is not supplied to Internet Explorer 9
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  font-family: "IM Fell English SC", serif;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 4rem; } }
  .heading-primary--sub {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    display: block;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-family: "IM Fell English SC", serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #12e1b6, #0a836a);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 2px; }
  .heading-secondary--white {
    background-color: transparent;
    color: #fff; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 10px; }

.u-center-text {
  text-align: center !important; }

.u-right-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-white-text {
  color: #fff !important; }

.u-margin-bottom-xs {
  margin-bottom: 1rem !important; }

.u-margin-bottom-sm {
  margin-bottom: 2rem !important; }

.u-margin-bottom-md {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-md {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-lg {
  margin-bottom: 6rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-xl {
      margin-bottom: 5rem !important; } }

.u-margin-top-xs {
  margin-top: 1rem !important; }

.u-margin-top-sm {
  margin-top: 2rem !important; }

.u-margin-top-md {
  margin-top: 4rem !important; }

.u-margin-top-lg {
  margin-top: 6rem !important; }

.u-margin-top-xl {
  margin-top: 8rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: 0;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem;
  /* x y blur color*/ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 .5rem 1rem; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #0eb290;
  color: #fff; }
  .btn--green::after {
    background-color: #0eb290; }

.btn--yellow {
  background-color: #fdbd5f;
  color: #fff; }
  .btn--yellow::after {
    background-color: #fdbd5f; }

.btn::after {
  content: "";
  /* always neccessary */
  display: inline-block;
  /* always neccessary */
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 1s ease-in .75s;
  animation-fill-mode: backwards; }

.app-btn {
  width: 15rem;
  height: 5rem;
  border: 0;
  margin: 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  animation: moveInBottom 1s ease-in .75s;
  animation-fill-mode: backwards; }
  .app-btn img {
    width: 100%;
    height: 100%; }
  .app-btn:not(:last-child) {
    margin-right: 1rem; }

@media (max-width: 75em) {
  .appinfo__image {
    width: 50%; } }

.appinfo__list {
  list-style: none; }

.appinfo__item {
  font-size: 1.8rem; }

.appinfo__link {
  text-decoration: none;
  color: #0eb290; }

.appinfo__symbol {
  margin-right: 1rem; }

@media (max-width: 75em) {
  .appinfo {
    text-align: center; } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      margin: 0 20px;
      padding: 2rem; } }
  @media (max-width: 37.5em) {
    .feature-box {
      margin: 0 auto;
      max-width: 35rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #12e1b6, #0a836a);
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.testimonials {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .testimonials {
      width: 100%;
      padding: 4rem 4rem 4rem 7rem; } }
  @media (max-width: 37.5em) {
    .testimonials {
      transform: skew(0); } }

.hidden {
  display: none; }

.carousel {
  width: 80%;
  display: flex;
  margin: 0 auto 10rem auto; }
  @media (max-width: 75em) {
    .carousel {
      width: 90%; } }
  .carousel__control {
    width: 10%;
    text-align: center; }
  .carousel__content {
    width: 80%;
    margin: 0;
    text-align: center;
    position: relative; }
  .carousel__item {
    padding: 0 8rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    @media (max-width: 37.5em) {
      .carousel__item {
        padding: 0 3rem; } }
    .carousel__item--main {
      font-size: 2.5rem;
      margin-bottom: 2rem; }
      @media (max-width: 37.5em) {
        .carousel__item--main {
          font-size: 2rem; } }
    .carousel__item--name {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 400; }
  .carousel__arrow {
    font-size: 3rem;
    color: #0eb290;
    text-decoration: none;
    text-align: center;
    padding: 0 1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 70%, transparent 50%), url(../img/train-track.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .contact {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 65%), url(../img/train-track.jpg);
      background-size: cover; } }
  @media (max-width: 37.5em) {
    .contact {
      width: 100%;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 5px; } }
  .contact__form {
    width: 70%;
    padding: 8rem; }
    @media (max-width: 75em) {
      .contact__form {
        width: 75%; } }
    @media (max-width: 56.25em) {
      .contact__form {
        width: 100%; } }
    @media (max-width: 56.25em) {
      .contact__form {
        padding: 6rem; } }
    @media (max-width: 37.5em) {
      .contact__form {
        padding: 2rem; } }
  .contact__row {
    display: flex;
    margin-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .contact__row {
        flex-direction: column; } }
  .contact__column {
    width: 50%; }
    @media (max-width: 56.25em) {
      .contact__column {
        margin: 0 10px; } }
    @media (max-width: 37.5em) {
      .contact__column {
        width: 100%;
        margin: 0; } }

.form__group:not(:last-child) {
  margin-bottom: .5rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem #000, 0.1;
    border-bottom: 3px solid #0eb290; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #fca82d; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form textarea {
  height: 21.8rem; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.tabs {
  width: 20%;
  padding: 0 3rem 0 0; }
  .tabs__item {
    list-style: none;
    border-bottom: 1px solid #ececec;
    margin-bottom: 1rem;
    padding-bottom: 1rem; }
  .tabs__link {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none; }
    .tabs__link--selected {
      color: #fdbd5f; }
    .tabs__link:hover {
      color: #fdbd5f; }

.tabs-content {
  width: 80%;
  padding: 0 0 0 1.5rem; }
  .tabs-content__item--title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fdbd5f;
    margin-bottom: 2rem; }

.tabs-content__item.hide {
  display: none; }

.seleted-link {
  color: #fdbd5f; }

.faq-question {
  margin-bottom: 3rem; }
  .faq-question__title {
    text-decoration: none;
    color: #000;
    font-size: 2.3rem;
    font-weight: 400;
    margin: 2rem 0;
    text-decoration: none; }
    .faq-question__title--selected {
      color: #000; }
    .faq-question__title:hover {
      font-style: normal;
      color: #000;
      text-decoration: none; }
  .faq-question__answer {
    color: #a7a3a3;
    font-size: 1.3rem; }

.faq-question__answer.hide {
  display: none; }

.hide {
  display: none; }

.row-noflex {
  max-width: 114rem;
  margin: 0 auto; }
  .row-noflex::after {
    content: "";
    display: table;
    clear: both; }
  .row-noflex:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row-noflex:not(:last-child) {
        margin-bottom: 3rem; } }
  @media (max-width: 56.25em) {
    .row-noflex {
      width: 90%; } }
  .row-noflex [class^="col-"] {
    float: left; }
    .row-noflex [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row-noflex [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row-noflex [class^="col-"] {
        width: 50% !important; } }
    @media (max-width: 37.5em) {
      .row-noflex [class^="col-"] {
        width: 100% !important; } }
  .row-noflex .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row-noflex .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row-noflex .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row-noflex .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row-noflex .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row-noflex .col-3-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(18, 225, 182, 0.8), rgba(10, 131, 106, 0.8)), url(../img/train-track.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        top: 3rem;
        right: 3rem; } }
  .header__logo {
    height: 10rem; }
    @media (max-width: 37.5em) {
      .header__logo {
        height: 8rem; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; }
  .header__buttons {
    display: inline-block; }

.header-faq {
  position: relative;
  background-color: #0eb290;
  height: 13rem;
  text-align: center; }
  .header-faq__heading {
    color: #fff;
    font-family: "IM Fell English SC", serif;
    font-size: 3.5rem;
    padding-top: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .header-faq__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header-faq__logo {
    height: 8rem; }

.footer {
  font-size: 1.2rem;
  color: #f7f7f7; }
  .footer__top {
    background-color: #303B41;
    text-align: center;
    padding: 4rem 0; }
    .footer__top a i {
      font-size: 2rem;
      margin: .5rem;
      transition: all .5s;
      color: #fff; }
      .footer__top a i:hover {
        transform: translateY(-0.5rem);
        color: #999999; }
  .footer__bottom {
    background-color: #283035;
    padding: 1rem 0; }
    @media (max-width: 56.25em) {
      .footer__bottom {
        text-align: center;
        padding-top: 2rem; } }
  .footer__navigation {
    display: inline-block;
    text-align: right; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:first-child) {
      padding-left: 1.5rem; }
    .footer__item:not(:last-child) {
      border-right: 1px solid #fff;
      padding-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 75em) {
    .navigation__button {
      top: 6rem;
      right: 6rem; } }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#12e1b6, #0a836a);
  z-index: 1000;
  transition: transform .8s;
  -webkit-transition: all 0.8 cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8 cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8 cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__list {
  list-style: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  @media (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2.5rem; } }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #0eb290;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  transition: opacity 1.2s ease;
  -webkit-transition: 1.2s ease;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-appinfo {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-appinfo {
      padding: 27rem 5rem 20rem 5rem; } }

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(18, 225, 182, 0.8), rgba(10, 131, 106, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 8rem; } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 25rem 5rem 10rem 5rem; } }

.about {
  text-align: center; }
  .about__text {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: left;
    margin-bottom: 4rem; }

.section-testimonials {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 75em) {
    .section-testimonials {
      padding: 10rem 0; } }

.section-contact {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #12e1b6, #0a836a);
  text-align: center; }
  @media (max-width: 56.25em) {
    .section-contact {
      padding: 10rem 0; } }

.section-faq {
  background-color: #f7f7f7;
  padding: 6rem; }
