//----------------------
//  COLOURS
//----------------------

$color-primary: #0eb290;
$color-primary-light: #12e1b6;
$color-primary-dark: #0a836a;

$color-secondary: #fdbd5f;
$color-secondary-light: #fed291;
$color-secondary-dark: #fca82d;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;  
$color-black: #000;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-footer-1: #303B41;
$color-grey-footer-2: #283035;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


//----------------------
//  GRID
//----------------------

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


//----------------------
//  FONTS
//----------------------

$default-font-size: 1.6rem;

$default-border-radius: 3px;

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|PT+Serif:400,400i|IM+Fell+English+SC|Fjalla+One|Lato:100,300,400,700,900|Lora|Merriweather|Montserrat|Open+Sans|Oswald|Playfair+Display|Raleway|Source+Sans+Pro|Caveat+Brush|Oswald|Nanum+Pen+Script|Rancho|Roboto|Roboto+Mono|Roboto+Condensed|Covered+By+Your+Grace|Reenie+Beanie|Abril+Fatface|Allura|Pacifico|Sacramento|Montserrat|Raleway|Monoton');

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

// Font Variables
$lato: 'Lato', sans-serif;
$fell-english: 'IM Fell English SC', serif;
$lora: 'Lora', sans-serif;
$merriweather: 'Merriweather', sans-serif;
$caveat: 'Caveat Brush', cursive;
$rennie: 'Reenie Beanie', cursive; 
$grace: 'Covered By Your Grace', cursive; 
$abril-fatface: 'Abril Fatface', cursive;
$allura: 'Allura', cursive; 
$sacramento: 'Sacramento', cursive;
$pacifico: 'Pacifico', cursive;
$monserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$monton: 'Monoton', cursive;
$roboto: 'Roboto', sans-serif;
$roboto-con: 'Roboto Condensed', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$oswald: 'Oswald', sans-serif;
$nanum: 'Nanum Pen Script', cursive;
$rancho: 'Rancho', cursive;
$open-sans: 'Open Sans', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$playfair: 'Playfair Display', serif;
$fjalla: 'Fjalla One', sans-serif;
$proxima: 'Proxima Nova', sans-serif;
$pt-serif: 'PT Serif', serif;
$kaushan: 'Kaushan Script', cursive;