.footer {
    font-size: 1.2rem;
    color: $color-grey-light-1;
    &__top {
        background-color: $color-grey-footer-1;
        text-align: center;
        padding: 4rem 0;
    }
    &__logobox {
        margin-bottom: 2rem;
    }
    &__logo {
        width: 6rem;
    }
    &__symbols {
        a {            
            i {
                font-size: 2rem;
                margin: .5rem;
                transition: all .5s;
                color: $color-white;
                &:hover {
                    transform: translateY(-.5rem);
                    color: darken($color-white, 40%);
                }
            }
        }
    }

    &__bottom {
        background-color: $color-grey-footer-2;
        padding: 1rem 0;
        @include respond(tab-port){
            text-align: center;
            padding-top: 2rem;
        }
    }

    &__navigation {
        display: inline-block;
        text-align: right;
        @include respond(tab-port){ 
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        &:not(:first-child) {
            padding-left: 1.5rem;
        }
        &:not(:last-child) {
            border-right: 1px solid $color-white;
            padding-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }
    }
}