.appinfo {

    &__list {
        list-style: none;
    }
    &__item {
        
        font-size: 1.8rem;
    }
    &__link {
        text-decoration: none;
        color: $color-primary;
    }
    &__symbol {
        margin-right: 1rem;
    }
    
}