.appinfo {
    &__image {
        @include respond(tab-land){
            width: 50%;
        }
    }
    &__list {
        list-style: none;
    }
    &__item {
        
        font-size: 1.8rem;
    }
    &__link {
        text-decoration: none;
        color: $color-primary;
    }
    &__symbol {
        margin-right: 1rem;
    }
    @include respond(tab-land){
        text-align: center;
    }
}