.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // Changes for <button>
        border: 0;
        cursor: pointer;

    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem; /* x y blur color*/
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem;
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark-1;
        &::after {
            background-color: $color-white;
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;
        &::after {
            background-color: $color-primary;
        }
    }
    &::after {
        content: ""; /* always neccessary */
        display: inline-block; /* always neccessary */
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInBottom 1s ease-in .75s;
        animation-fill-mode: backwards;
    }
}

.app-btn {
    width: 15rem;
    height: 5rem;
    border: 0;
    margin: 1rem 0;
    border-radius: 1rem;
    overflow: hidden;
    animation: moveInBottom 1s ease-in .75s;
    animation-fill-mode: backwards;
    img {
        width: 100%;
        height: 100%;
    }
    &:not(:last-child){
        margin-right: 1rem;
    }
}

