.printscreens {
    display: flex;
    width: 70%;
    margin: 0 auto;
    @include respond(phone){
        flex-direction: column;
    }

    &__item {
        text-align: center;
        padding: 5%;
        @include respond(phone){
            margin-bottom: 3rem;
        }
    }

    &__imagebox {
        
    }

    &__image {
        width: 100%;
        height: auto;
        @include respond(phone){
            width: 50%;
        }
    }
    &__textbox {
        margin-top: 1rem;
        padding: 1rem;
    }
    &__text {
        color: $color-white;
        font-size: 1.6rem;
    }
}