.faq-categories {
    &__list {
        list-style: none;
        &__item {
            &__link {
                text-decoration: none;
            }
        }
    }
}
.tabs {
    &__item {
        display: none;
    }
}
.activeTab {
    display: block;
    color: red; 
}