.tabs {
    width: 20%;
    padding: 0 3rem 0 0;
    &__list {
    }
    &__item {
        list-style: none;
        border-bottom: 1px solid #ececec;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    } 
    &__link { 
        font-size: 1.5rem;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        &--selected {
            color: #fdbd5f;
        }
        &:hover {
            color: #fdbd5f; 
        }
    }

}
.tabs-content {
    width: 80%;
    padding: 0 0 0 1.5rem;
    &__item {
        &--title {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: #fdbd5f;
            margin-bottom: 2rem;
        }
    }
}
.tabs-content__item.hide {
    display: none;
}
.seleted-link {
    color: #fdbd5f;
}
.faq-question {
    margin-bottom: 3rem;

    &__title {
        text-decoration: none;
        color: $color-black;
        font-size: 2.3rem;
        font-weight: 400; 
        margin: 2rem 0;
        text-decoration: none;

        &--selected {
            color: $color-black;
        }

        &:hover {
            font-style: normal;
            color: $color-black;
            text-decoration: none;
        }
    }
    &__answer {
        color: #a7a3a3;
        font-size: 1.3rem;
    }
}
.faq-question__answer.hide {
    display: none;
}
.hide {
    display: none;
}