/* 
REM is always measured from the root
REM is not supplied to Internet Explorer 9
*/

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
 }

.heading-primary {
    font-family: $fell-english;
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; // so the element doesnt shake when we put animation on it
    margin-bottom: 6rem;
     &--main {
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 2rem;
        display: block;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 4rem;
        }
     }
     &--sub {
         font-size: 2.5rem;
         font-weight: 700;
         letter-spacing: 1.75rem;
         display: block;
         animation: moveInRight 1s ease-out;
         @include respond(phone){
            letter-spacing: .5rem;
        }
     }
 }

 .heading-secondary {
    font-family: $fell-english;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: 2px;
    &--white {
        background-color: transparent;
        color: $color-white;
    }
    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(phone){
        font-size: 2.5rem;
        max-width: 40rem;
    }
    &:hover {
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 10px;
    }
}