.section-appinfo {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; 
    @include respond(tab-port){ 
        padding: 27rem 5rem 20rem 5rem;
    }
}

.section-printscreens {
    margin-top: -10rem;
    padding: 20rem 0 20rem 0;
    background-image: linear-gradient(
        to right bottom,  
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)), 
        url(../img/nat-4.jpg);
    background-size: cover; 
    transform: skewY(-7deg);
    //selecting all direct child from this element
    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port){ 
        padding: 15rem 8rem;
    }
}

.section-about {
    background-color: $color-grey-light-1;
    padding: 15rem 0 15rem 0;

    @include respond(tab-port){ 
        padding: 5rem 5rem 5rem 5rem;
    }
}

.about {
    text-align: center;
    &__text {
        font-size: 1.8rem;
        line-height: 3rem;
        text-align: left;
        margin-bottom: 4rem;
    }
}

.section-feature {
    margin-top: -10rem;
    padding: 30rem 0 20rem 0;
    @include respond(phone){
        padding: 20rem 0 15rem 0;
    }
}

.section-testimonials {
    position: relative;
    padding: 15rem 0;
    @include respond(tab-land){
        padding: 10rem 0;
    }
}

.section-contact {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    text-align: center;
    @include respond(tab-port){ 
        padding: 10rem 2rem;
    }
}

